.alert-box {
    padding: 20px;
    background-color: #f44336; /* Red background color */
    color: white;
    margin-bottom: 15px;
    border: 1px solid red;
    border-radius: 5px;
    position: fixed;
    top: 5px;
    left: 13px;
    z-index: 1000;
    display: none; /* Hidden by default */
}

.alert-box .icon {
    font-size: 24px;
    margin-right: 10px;
}
#laser-pointer {
    width: 8px;
    height: 8px;
    background-color: #333333;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Prevent the laser pointer from blocking mouse events */
    transition: transform 0.1s ease-out;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
@media print {
  body {
    display: none;
  }
}
body {
            align-items: center;
        }
        a{
            text-decoration: none;
            position: absolute;
            top: 2%;
            left: 50px;
            font-size: 40px;
            background-color: white;
            border-radius: 90px;
            padding: 20px 30px 15px 100px;
            left: -50px;
        }
        p{
            font-size: 50px;
        }

        