.imagechart-container1 {
    overflow: hidden;
    width: 100%;  /* Set the width of the container */
    height: 500px;  /* Set the height of the container */
}

.zoomchart-image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 3s ease;
}

.imagechart-container1:hover .zoomchart-image1 {
    transform: scale(1.1);  /* Adjust the scale value to control the zoom level */
}
.one{
  font-family: Arial;  
  padding: 10px; 
  border-radius: 20px; 
  font-size: 25px;  
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5);
}
.two{
  font-family: Arial; 
  font-size: 15px;
}
.lower_content {
  text-align: left;
  position: absolute;
  width: 100%;
}
.lower_content span {
  display: block;
}
.text1 {
  color: #ff9900;
  font-size: 35px;
  letter-spacing: 4px;
  background: white;
  position: relative;
  animation: text 3s 1;
  padding-bottom: 10px;
  margin-top: 50px;
}
.text2 {
  font-size: 18px;
  color: #333333;
}
@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 10px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 4px;
    margin-bottom: -40px;
  }
}
.cross_section_desk{
  display: block;
  padding-top: 250px;
}
.cross_section_desk table{
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.cross_section_tab{
  display: none;
}
.cross_section_mob{
  display: none;
}
#laser-pointer {
    width: 8px;
    height: 8px;
    background-color: #333333;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Prevent the laser pointer from blocking mouse events */
    transition: transform 0.1s ease-out;
}
.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Ensures the cutout is visible */
    width: 100%;
    height: 500px;
    border-left: 3px solid white;
    border-right: 10px solid white;
}
.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container {
  position: relative;
  text-align: center;
  color: white;
}
.image-container img {
    display: block;
    width: 100%;
    height: auto;
}
.cutout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Optional: to highlight the cutout area */
    clip-path: polygon(-20% 100%, 100% 80%, 100% 100%);
    pointer-events: none; /* Make the cutout area non-interactive */
}
.contenteeee {
    display: none;
}
.alll{
  margin-left: 50px;
}
.allli{
  margin-left: 40px;
}
button{
  border: none;
  color: black;
  padding-left: 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  background-color: white;
}
#button2{
  border: none;
  color: black;
  padding-left: 30px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  background-color: white;
}
#content2{
  padding-left: 30px;
}
#button3{
  border: none;
  color: black;
  padding-left: 30px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  background-color: white;
}
#content3{
  padding-left: 30px;
}
#button4{
  border: none;
  color: black;
  padding-left: 30px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  background-color: white;
}
#content4{
  padding-left: 30px;
}
#button5{
  border: none;
  color: black;
  padding-left: 30px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  background-color: white;
}
#content5{
  padding-left: 30px;
}
#button6{
  border: none;
  color: black;
  padding-left: 30px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  background-color: white;
}
#content6{
  padding-left: 30px;
}
#button7{
    border: none;
    color: black;
    padding-left: 30px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    background-color: white;
}
#content7{
  padding-left: 30px;
}
#button8{
    border: none;
    color: black;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    background-color: white;
}
#content8{
  padding-left: 10px;
}
#button9{
    border: none;
    color: black;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    background-color: white;
}
#content9{
  padding-left: 10px;
}
#button10{
    border: none;
    color: black;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    background-color: white;
}
#content10{
  padding-left: 10px;
}
#button11{
    border: none;
    color: black;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    background-color: white;
}
#content11{
  padding-left: 10px;
}
#button12{
    border: none;
    color: black;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    background-color: white;
}
#content12{
  padding-left: 10px;
}

.docs{
  background-color: #79d2a6;
  color: black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.docs p{
  font-family: Times New Roman;
  font-size: 18px;
}
.csdn{
  font-size: 14px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  color: #595959;
}
.cons{
  background-color: #d9d9d9;
  color: black;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  padding-left: 10px;
  
}
.cons a{
  font-family: Arial;
  font-size: 16px;
  color: #404040;
}
.alert-box {
    padding: 20px;
    background-color: #f44336; /* Red background color */
    color: white;
    margin-bottom: 15px;
    border: 1px solid red;
    border-radius: 5px;
    position: fixed;
    top: 5px;
    left: 13px;
    z-index: 1000;
    display: none; /* Hidden by default */
}
      #photo{
        margin-left: 46%;
      }

.alert-box .icon {
    font-size: 24px;
    margin-right: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
@media print {
  body {
    display: none;
  }
}
body{
      padding: 10px;
      width: 100%;
      height: auto;
    }
    .no-download {
    pointer-events: none;
}
.packages_tab{
  display: none;
}

    nav {
      width: 1200;
      margin-top: 15px;
      overflow: hidden;
      background-color: #ff8000;
      font-family: Arial;
      height: auto;
      margin-left: -7px;
    }
    h1{
      font-weight: 600px;
      font-size: 25px; 
      font-family: Times New Roman;
    }
    h2{
      font-family: Times New Roman;
      font-weight: lighter;
      font-size: 15px;
      color: #999999;
      font-weight: 550;
    }
    .dropdown {
      float: left;
      overflow: hidden;
    }
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: black;
      text-align: center;
      padding: 18px;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      background-color: #ff8000;
      margin: 0;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: black;
      opacity: 0.7;
      min-width: 150px;
      z-index: 1;
      text-align: center;
      top: 189px;
    }
    .dropdown-content a {
      float: none;
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-weight: bold;
      line-height: 10px;
      font-size: 12px;
    }
    .dropdown-content a:hover {
      background-color: white;
      color: black;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    * {
      box-sizing: border-box;
    }
    .container button{
      height: 40px;
      width: 40px;
    }
    .container2 {
      text-align: center;
    }
    .content {
      display: inline-block;
      text-align: center;
      font-family: Times New Roman;
    }
    .content img {
      float: left; /* Image floats left */
      margin-right:-80px; 
      margin-left: -90px;
      margin-top: -8px;
    }
    header {
      padding: 10px;
      padding-bottom: 0px;
      text-align: center;
      background: white;
      color: black;
      font-size: 20px; 
      line-height: 22px;
      width: 100%;
    }
    .content h1{
      font-weight: 600px;
      font-size: 20px; 
    }
    .content h2{
      font-weight: lighter;
      font-size: 15px;
      color: #999999;
      font-weight: 550;
    }
    .right-text {
      position: absolute;
      top: 0;
      right: 0;
    }
    nav ul {
      list-style-type: none; /* Remove bullets from the list */
      margin: 0;
      padding: 0;
      display: flex;
    }
    nav li {
      float: center;
    }
    nav li a {
      float: left;
      color: black;
      text-align: center;
      padding: 18px;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
    }
    nav li a:hover {
      background-color: white;
      color: black;
    }
    nav li button:hover {
      cursor: pointer;
    }
    nav li a.active {
      background-color: #2eb82e;
      color: black;
      padding: 18px; 
      margin-right: -20px; 
    }
    nav li + li {
      margin-left: 20px; /* Adjust this value to increase/decrease the distance */
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    .container{
      width: 100%;
      padding: 5%;
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .search-bar{
      width: 100%;
      background-color: #DFDFDF;
      display: flex;
      align-items: center;
      border-radius: 60px;
      padding: 1px 8px;
      backdrop-filter: blur(4px) saturate(180%);
    }
    .search-bar input{
      background: transparent;
      flex: 1;
      border: 0;
      outline: none;
      padding: 5px 5px;
      font-size: 15px;
      color: black;
    }
    .search-bar button img{
      width: 15px;
    }
    .search-bar button{
      border: 0;
      border-radius: 50%;
      width: 70px;
      height: 40px;
      background: #ff8000;
      cursor: pointer;
      padding-left: 15px;
    }
    * {
      box-sizing: border-box;
    }
    .icon {
      display: none;
    }
    .df{
      display: none;
    }
    #additional-sections{
      display: none;
    }
    footer{
      padding-top: 20px;
      left: 0;
      padding-bottom: 20px;
      width: 100%;
      background-color: #232121;
      color: white;
      text-align: center;
      margin-bottom: -10px;
    }
    div.gallery img {
    width: 100%;
    height: 230px;
    margin: 1px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 10px;  
    box-shadow: 0 4px 8px 0 rgba(153, 153, 153, 0.8), 0 6px 20px 0 rgba(153, 153, 153, 0.8);
  }
  div.gallery2 img {
    width: 100%;
    height: 230px;
    margin: 1px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;  
  }
  div.gallery span {
    font-size: 35px;
    font-weight: bold;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  .multicolortext{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left,white, white, #ff9900, #ff9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .image {
      display: block;
      transition: transform 0.6s ease;
   }
   .image:hover {
      transform: scale(1.19);
      box-shadow: none;
   }
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color: black;
  }
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }
  .con {
    position: relative;
    width: 50%;
  }
  .wsd {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .cen {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .con:hover .cen {
    opacity: 1;
  }
  .text {
    top: 50px;
    margin-left: 150px;
    cursor: pointer;
  }
  .ghu{
    position: relative;
     width: 100%; 
    border-left: 3px solid white; 
    border-right: 10px solid white;

  }
  .ghu img{
    background-repeat: no-repeat;
    background-size: cover;  
    width: 100%; 
    height: 1500px;
  }
  .overlay-content{
    position: absolute;
    top: 20px;
  
  }
  .videosection{
    border-left: 3px solid white;
    border-right: 10px solid white;
  }
  .zoomable {
            width: 200px; /* Set the initial size of the image */
            transition: transform 0.3s ease; /* Add a smooth transition effect */
        }
        .zoomable:hover {
            transform: scale(1.2); /* Increase the size of the image on hover */
        } 

    /* For tablets (landscape) and smaller screens */
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .one{
  font-size: 20px;  
}
.two{
  font-size: 15px;
}
      .cross_section_mob{
        display: none;
      }
      .packages_tab{
  display: block;
}
      .packages{
        display: none;
      }
      .csdn p{
        text-align: justify;
      }
                    .cross_section_tab{
          display: block;
          padding-top: 180px;
        }
              .cross_section_desk{
          display: none;
        }
      .cutout {
   display: none;
}
      .text1 {
            font-size: 25px;
            margin-top: -50px;
        }
        .text2{
          font-size: 15px;
          font-weight: bold;
        }
            #photo{
        margin-left: 44%;
      }
      .ghu{
    position: relative;
     width: 100%; 
    border-left: 3px solid white; 
    border-right: 10px solid white;

  }
  .ghu img{
    background-repeat: no-repeat;
    background-size: cover;  
    width: 100%; 
    height: 2450px;
  }
  .overlay-content{
    position: absolute;
    top: 20px;
  
  }
      .container2 {
        flex-direction: column; /* Stack elements vertically */
      }
      .content img {
        margin-top: -7px; /* Adjust margin for better spacing */
        margin-left: -80px;
      }
      .right-text {
        position: static; /* Reset position for better display on smaller screens */
        margin-top: 10px; /* Adjust margin for better spacing */
      }
      .search-bar {
        margin-top: -40px; /* Adjust margin for better spacing */
        margin-bottom: -40px;
        padding: 1px 8px;
      }
      .search-bar button img{
        width: 15px;
      }
      .search-bar button{
        width: 40px;
        height: 40px;
      }
      nav ul {
        flex-wrap: wrap;
      }
      nav li {
        width: 50%; /* Display two items per row */
      }
      .dropdown:hover .dropdown-content {
        display: none;
      }
      .dropdown .dropbtn {
        border-top: 2px solid white;
        width: 1024px;
        text-align: left;
        padding-bottom: 8px;
        padding-top: 8px;
      }
      nav li + li {
        margin-left: 1px; /* Adjust this value to increase/decrease the distance */
      }
      nav li a.active {
        background-color: #2eb82e;
        color: black;
        padding-bottom: 8px;
        padding-top: 8px;
        width: 1024px;
        text-align: left;
      }
      #animatedBox {
        overflow-x: auto;
      }
      .column {
        flex-basis: 100%;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        text-align:center;
        font-size:11px;
        background-color: white;
      }
      .responsive {
      width: 49.99999%;
     
    }
    }

    /* For mobile devices */
    @media only screen and (max-width: 767px) {
      .image-container img{
        height: 300px;
      }
      .packages{
        display: none;
      }
            .packages_tab{
        display: block;
      }
      .centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
            .one{
  font-size: 15px;  
}
.two{
  font-size: 12px;
}
      .lower_content{
        margin-top: -200px;
      }
      .text1 {
          font-size: 17px;
        }
 
        .text2 {
            font-size: 12px;
        }
            .cross_section_mob{
        display: block;
      }
            .cutout {
   display: none;
}
              .cross_section_desk{
          display: none;
        }
      .ghu{
    position: relative;
     width: 100%; 
    border-left: 3px solid white; 
    border-right: 10px solid white;

  }
  .ghu img{
    background-repeat: no-repeat;
    background-size: cover;  
    width: 100%; 
    height: 4300px;
  }
      .icon {
        display: block; /* Display the menu icon */
        float: left;
      }
      .df{
        display: block;
        float: left;
      }
      .right-text {
        position: static; /* Reset position for better display on smaller screens */
        margin-top: 10px; /* Adjust margin for better spacing */
      }
      .content h1 {
        font-size: 15px; /* Decrease font size for better fit on smaller screens */
      }
      .content h2 {
        font-size: 12px; /* Decrease font size for better fit on smaller screens */
      }
      .search-bar input {
        width: 100px; /* Decrease input width for better fit on smaller screens */
      }
      .search-bar button {
        width: 40px; /* Decrease button width for better fit on smaller screens */
        height: 40px; /* Decrease button height for better fit on smaller screens */
      }
           .search-bar {
        padding: 1px 8px;
      }
      .content img{
        width: 60px;
        height: 60px;
        margin-left: -65px;
        margin-top: -2px;
      }
      nav ul {
        flex-direction: column;
        align-items: center;
      }
      nav li {
        width: 100%;
        text-align: center;
      }
      #photo{
        margin-left: 10px;
      }
      .dropdown:hover .dropdown-content {
        display: none;
      }
      #myTopnav ul li:not(:last-child){
        display: none; /* Hide all list items except the first and last one */
      }
      .icon {
        display: block; /* Display the menu icon */
        float: left;
      }
      .icon:hover {
        background-color: black;
        color: white;
        height: 50px;
      }
      /* Style for additional sections box */
      #additional-sections {
        display: none;
        margin-top: -5px;
        text-decoration: none;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 40px; 
      }
      #additional-sections a{
        text-decoration: none;
        font-size: 11px;
        font-family: Arial;
        font-weight: bold;
        color: black;
        padding: 10px;
      }
      #additional-sections.show {
        display: block;
      }
      /* Add styles for the navigation bar */
      #myTopnav ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      #myTopnav ul li a:hover {
        background-color: #ff8000;
        color: white;
        height: 50px;
        
      }
      .responsive {
      width: 100%;
    }
      .multicolortext{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, #ff8000,  #ff8000);
    -webkit-background-clip: text;
    text-align: justify;
  }
    }
